*, *::before, *::after {
    box-sizing: border-box;
}

*:focus {
	outline-color: black;
}

html {    
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background: #f3f3f3;
}

main {
    margin: 8px;
}
